{% extends 'base.html' %}

{% block content %}
    <h1>About This App</h1>
    <p>
        This application displays quotes and images of Oscar Isaac.
    </p>
    <p>
        Oscar Isaac is a Guatemalan actor. He is known for breaking 
        stereotypes about Latino actors in Hollywood. He has played 
        a variety of nationalities, including Egyption, Indonesian, 
        and English. He has amazing range, and I think he's a great 
        actor. My favorite film of his is Moon Knight.
    </p>
{% endblock %}