<!--
    File: show_all.html
    Author: Tiffany Yam (tiffyam@bu.edu), 9/15/26
    Description: Displays all quotes and images of Oscar Isaac.
-->



<!-- Load the base template -->
{% extends 'base.html' %}

<!-- Custom content -->
{% block content %}
    <h2>All quotes by Oscar Isaac</h2>
    <p>{{quote1}}</p>
    <p>{{quote2}}</p>
    <p>{{quote3}}</p>

    <br>

    <h2>All images of Oscar Isaac</h2>
    <img src="{{image1}}" alt="Image of Oscar Isaac">
    <img src="{{image2}}" alt="Image of Oscar Isaac">
    <img src="{{image3}}" alt="Image of Oscar Isaac">
{% endblock %}