<!--
    File: restaurant/templates/restaurant/order.html
    Author: Tiffany Yam (tiffyam@bu.edu), 9/22/26
    Description: Displays the order form.
-->


<!-- Load the base template -->
{% extends 'restaurant/base.html' %}

<!-- Custom content -->
{% block content %}
<form action="{% url 'confirmation' %}" method="POST">
    {% csrf_token %}

    <div class="noodle_soups_container">
        <div class="noodle_soups">
            <h2>Noodle Soups</h2>
            <div class="choice">
                <input type="checkbox" name="pork_chop_ns">Pork Chop Noodle Soup $14.50
            </div>
            <div class="choice">
                <input type="checkbox" name="sliced_beef_ns">Sliced Beef Noodle Soup $14.50
            </div>
            <div class="choice">
                <input type="checkbox" name="fish_fillet_ns">Fish Fillet Noodle Soup $14.50
            </div>
            <div class="choice">
                <input type="checkbox" name="beef_tripe_ns">Beef Tripe Noodle Soup $15.00
            </div>
        </div>


        <div class="add-ons">
            <h3>Add-Ons:</h3>
            <div class="choice">
                <input type="checkbox" name="soy_egg">Soy Egg $2.00
            </div>
            <div class="choice">
                <input type="checkbox" name="beef_slices">Beef Slices $4.00
            </div>
            <div class="choice">
                <input type="checkbox" name="fish_tofu">Fish Tofu $3.00
            </div>
            <div class="choice">
                <input type="checkbox" name="napa_cabbage">Napa Cabbage $2.50
            </div>
            <div class="choice">
                <input type="checkbox" name="noodles">Noodles $2.00
            </div>
        </div>
    </div>


    <div class="special">
        <h2>Today's Special</h2>
        <!-- Display two decimal places for the price -->
        <input type="checkbox" name="special" value="{{daily_special.0}}">
        {{daily_special.0}} ${{daily_special.1|floatformat:2}}
    </div>

    <div class="special_instructions">
        <h2>Special Instructions</h2>
        <p>Please share any allergies, restrictions, modifications, etc:</p>
        <textarea name="special_instructions" rows="3" cols="100"></textarea>
    </div>


    <div class="customer">
        <h2>Customer Information</h2>
        Name: 
        <div>
            <input type="text" name="name">
        </div>
        Email:
        <div>
            <input type="text" name="email">
        </div>
        Phone Number:
        <div>
            <input type="text" name="phone_number">
        </div>
    </div>

    <div class="submit">
        <h2>Place Your Order</h2>
        <input type="submit">
    </div>
    
</form>
{% endblock %}